<ul class="sidebar-nav">
    <li>
        <a href="/catalog">Home</a>
    </li>
    <li>
        <a href="/catalog/books">All books</a>
    </li>
    <li>
        <a href="/catalog/authors">All authors</a>
    </li>
    <li>
        <a href="/catalog/genres">All genres</a>
    </li>
    <li>
        <a href="/catalog/bookInstances">All book-instances</a>
    </li>

    <hr>

    <li>
        <a href="/catalog/author/create">Add new author</a>
    </li>
    <li>
        <a href="/catalog/genre/create">Add new genre</a>
    </li>
    <li>
        <a href="/catalog/book/create">Add new book</a>
    </li>
    <li>
        <a href="/catalog/bookInstance/create">Add new book-instances (copy)</a>
    </li>
</ul>