<h1><%= title%></h1>

<form method="post">
    <div class="form-group">
        <label for="name">Genre: </label>
        <input
            id="name"
            name="name"
            class="form-control"
            type="text"
            placeholder="Fantasy, Poetry etc."
            required
            value="<%= typeof genre === 'undefined' ? '': genre.name %>"/>
    </div>
    <button class="btn btn-primary" type="submit">Submit</Submit></button>
</form>

<% if(errors){%>
    <ul>
        <% errors.forEach((error)=>{%>
            <li><%=error.msg%></li>    
        <%})%>
    </ul>    
    
<%}%>

